@font-face {
  font-family: "iconfont"; /* Project id 2994809 */
  src: url('iconfont.woff2?t=1664350542001') format('woff2'),
       url('iconfont.woff?t=1664350542001') format('woff'),
       url('iconfont.ttf?t=1664350542001') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-shezhi:before {
  content: "\e609";
}

.icon-shezhi1:before {
  content: "\e668";
}

.icon-warning:before {
  content: "\e66b";
}

.icon-zhengque:before {
  content: "\e621";
}

.icon-cuowu:before {
  content: "\e623";
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-tubiao-huanyuan:before {
  content: "\e60c";
}

.icon-zuixiaohua:before {
  content: "\e644";
}

.icon-guanbi:before {
  content: "\e645";
}

.icon-zhijiaojuxing:before {
  content: "\eddd";
}

.icon-qiyeguanli_yuangongguanli:before {
  content: "\e62c";
}

.icon-banji:before {
  content: "\e608";
}

.icon-wenben:before {
  content: "\e600";
}

.icon-changjianwenti:before {
  content: "\e6c8";
}

.icon-bumen:before {
  content: "\e758";
}

.icon-shenpishenhe:before {
  content: "\e633";
}

.icon-jigoubaobiao:before {
  content: "\e650";
}

.icon-a-1kehudanweitaizhang:before {
  content: "\e628";
}

.icon-wutouxiang:before {
  content: "\e63c";
}

.icon-kaoshi_moren2x:before {
  content: "\e602";
}

